body {
    background-color: black;
    overflow: hidden;
    touch-action: manipulation;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
}

#clouds {
    color: rgb(138, 132, 132);
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 15%;
    font-size: 1.4vh;
    display: inline-flex;
}

.human {
    color: rgb(20, 138, 20);
    position: fixed;
    bottom: 0%;
    left: 41%;
}

#human {
    font-size: 1.2vh;
    z-index: 2;
}

.umbrella {
    font-size: 1.2vh;
    position: fixed;
    bottom: 12%;
    left: 40%;
    color: rgb(121, 3, 168);
    z-index: 3;
}

.rainButton {
    position: fixed;
    left: 0%;
    bottom: 1%;
    width: 5vh;
    z-index: 4;
}

#rainButton {
    font-size: 2vh;
    background-color: black;
    color: white;
}

#rain {
    position: absolute;
    top: 12%;
}